<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525735182843-tsngpsvuolv418ghi03jpt91k3o7lj52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525735182843-tsngpsvuolv418ghi03jpt91k3o7lj52</string>
	<key>API_KEY</key>
	<string>AIzaSyAu369sm3kjhYslLE1pKRLihjvQjrgAnEg</string>
	<key>GCM_SENDER_ID</key>
	<string>525735182843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carParking</string>
	<key>PROJECT_ID</key>
	<string>dash-insta</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-insta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525735182843:ios:bea92f68e311ff07df0b5e</string>
</dict>
</plist>