<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525735182843-h3c5rq29bn9vktg1q29903aupk742cso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525735182843-h3c5rq29bn9vktg1q29903aupk742cso</string>
	<key>API_KEY</key>
	<string>AIzaSyAu369sm3kjhYslLE1pKRLihjvQjrgAnEg</string>
	<key>GCM_SENDER_ID</key>
	<string>525735182843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashInsta.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dash-insta</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-insta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525735182843:ios:bdaf0a3b9b5202c6df0b5e</string>
</dict>
</plist>